<a href="https://colab.research.google.com/github/fcoprata/EBAC-IA/blob/main/EBAC_IA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando Bibliotecas
import pandas as pd
#Tratamento de dados
df = pd.read_csv("KAG_conversion_data.csv")

Dicionario de dados 

1.) ad_id: an unique ID for each ad.

2.) xyzcampaignid: an ID associated with each ad campaign of XYZ company.

3.) fbcampaignid: an ID associated with how Facebook tracks each campaign.

4.) age: age of the person to whom the ad is shown.

5.) gender: gender of the person to whim the add is shown

6.) interest: a code specifying the category to which the person’s interest belongs (interests are as mentioned in the person’s Facebook public profile).

7.) Impressions: the number of times the ad was shown.

8.) Clicks: number of clicks on for that ad.

9.) Spent: Amount paid by company xyz to Facebook, to show that ad.

10.) Total conversion: Total number of people who enquired about the product after seeing the ad.

11.) Approved conversion: Total number of people who bought the product after seeing the ad.

In [ ]:
df.head() #lista default das 5 primeiras linhas

    ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0  708746              916  ...                 2                   1
1  708749              916  ...                 2                   0
2  708771              916  ...                 1                   0
3  708815              916  ...                 1                   0
4  708818              916  ...                 1                   1

[5 rows x 11 columns]

In [ ]:
df.tail() #lista default das 5 ultimas linhas

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[5 rows x 11 columns]

In [ ]:
df.columns #nome das colunas

Index(['ad_id', 'xyz_campaign_id', 'fb_campaign_id', 'age', 'gender',
       'interest', 'Impressions', 'Clicks', 'Spent', 'Total_Conversion',
       'Approved_Conversion'],
      dtype='object')

In [ ]:
df.index #indices

RangeIndex(start=0, stop=1143, step=1)

In [ ]:
linhas, colunas = df.shape #analisando a quantidade de linhas e colunas 
print(f"linhas:{linhas} e colunas:{colunas}") #mostrando a quantidade de linhas e colunas
# ou print(f"linhas:{df.shape[0]} e colunas:{df.shape[1]}")

linhas:1143 e colunas:11

In [ ]:
df["interest"] #vendo apenas uma coluna
# ou df.interest

0        15
1        16
2        20
3        28
4        28
       ...
1138    109
1139    110
1140    111
1141    113
1142    114
Name: interest, Length: 1143, dtype: int64

In [ ]:
df.info() #resumo da matriz

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ad_id                1143 non-null   int64
 1   xyz_campaign_id      1143 non-null   int64
 2   fb_campaign_id       1143 non-null   int64
 3   age                  1143 non-null   object
 4   gender               1143 non-null   object
 5   interest             1143 non-null   int64
 6   Impressions          1143 non-null   int64
 7   Clicks               1143 non-null   int64
 8   Spent                1143 non-null   float64
 9   Total_Conversion     1143 non-null   int64
 10  Approved_Conversion  1143 non-null   int64
dtypes: float64(1), int64(8), object(2)
memory usage: 98.4+ KB

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>